In [1]:
import pymongo
import pandas as pd

In [2]:
client = pymongo.MongoClient('localhost', 27017)

In [8]:
db = client['chapter2']

In [9]:
collection = db['income']

In [10]:
income_df = pd.DataFrame(list(collection.find()))

In [11]:
income_df.head()

,_id,age,capital-gain,capital-loss,education,education-num,fnlwgt,hours-per-week,label,marital-status,native-country,occupation,race,relationship,sex,workclass
0,5e4c33a57c7ba05095733309,39,2174,0,Bachelors,13,77516,40,<=50K,Never-married,United-States,Adm-clerical,White,Not-in-family,Male,State-gov
1,5e4c33a57c7ba0509573330a,50,0,0,Bachelors,13,83311,13,<=50K,Married-civ-spouse,United-States,Exec-managerial,White,Husband,Male,Self-emp-not-inc
2,5e4c33a57c7ba0509573330b,38,0,0,HS-grad,9,215646,40,<=50K,Divorced,United-States,Handlers-cleaners,White,Not-in-family,Male,Private
3,5e4c33a57c7ba0509573330c,53,0,0,11th,7,234721,40,<=50K,Married-civ-spouse,United-States,Handlers-cleaners,Black,Husband,Male,Private
4,5e4c33a57c7ba0509573330d,28,0,0,Bachelors,13,338409,40,<=50K,Married-civ-spouse,Cuba,Prof-specialty,Black,Wife,Female,Private

In [13]:
income_df['age'].describe()

count    65122.000000
mean        38.581647
std         13.640328
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [14]:
income_df['education'].describe()

count        65122
unique          16
top        HS-grad
freq         21002
Name: education, dtype: object