In [1]:
from cassandra.cluster import Cluster

In [5]:
cluster = Cluster(['localhost'])

In [6]:
session = cluster.connect()

In [9]:
session.execute("CREATE KEYSPACE stocks \
                    WITH replication = {'class' : 'SimpleStrategy', \
                                         'replication_factor' : '1'}")

In [10]:
session.set_keyspace('stocks')

In [12]:
session.execute("""
                   CREATE TABLE company(
                       company_id text,
                       name_latest text,
                       name_previous text,
                       PRIMARY KEY(company_id)
                   )
                   """)

In [15]:
#indicator by company is the finaical values
session.execute("""
                   CREATE TABLE indicator_by_company1(
                       company_id text,
                       indiactor_id text,
                       yr_2010 bigint,
                       yr_2011 bigint,
                       yr_2012 bigint,
                       yr_2013 bigint,
                       yr_2014 bigint,
                       yr_2015 bigint,
                       yr_2016 bigint,
                       PRIMARY KEY(company_id,indiactor_id)
                   )
                   """)

In [16]:
import json
with open('companies.json') as f_in:
    companies = json.load(f_in)

In [17]:
for company in companies:
    try:
        session.execute(
                           """
                           INSERT INTO company (company_id, name_latest, name_previous)
                           VALUES (%s, %s, %s)
                           """,
                           (company['company_id'],company['name_latest'], company['names_previous']))
    except:
        pass

In [20]:
result_set = session.execute("SELECT * FROM company  LIMIT 10")

In [22]:
result_set.current_rows

[Row(company_id='1445229', name_latest='Fuer International Inc.', name_previous=None),
 Row(company_id='1376866', name_latest='8888 Acquisition Corp', name_previous=None),
 Row(company_id='76267', name_latest='Park Electrochemical Corp', name_previous=None),
 Row(company_id='1360334', name_latest='Alamo Energy Corp.', name_previous=None),
 Row(company_id='832101', name_latest='Idex Corp /DE/', name_previous=None),
 Row(company_id='1645113', name_latest='Novocure LTD', name_previous=None),
 Row(company_id='1043219', name_latest='Annaly Capital Management Inc', name_previous=None),
 Row(company_id='78003', name_latest='Pfizer Inc', name_previous=None),
 Row(company_id='1396033', name_latest='Lumber Liquidators Holdings, Inc.', name_previous=None),
 Row(company_id='1438945', name_latest='Strike Axe, Inc', name_previous=None)]